:root {
	--max-width: 1100px;
	--border-radius: 12px;
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
		"Fira Mono", "Droid Sans Mono", "Courier New", monospace;

	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	/* SVG Chart Colors */
	--svgContainerColor: white;
	--chartCanvasColor: white;
	--svgTextColor: black;
	--yAxisTickColor: rgba(227, 229, 231, 1);
	--yAxisTextColor: rgba(114, 116, 119, 1);
	--xAxisTickColor: rgba(114, 116, 119, 1);
	--xAxisTextColor: rgba(114, 116, 119, 1);
	--rectColor: rgba(3, 103, 225, 1);
	--rectStroke: rgba(42, 43, 44, 1);

	/* SVG Chart Colors HighContrast */
	--svgContainerColorHighContrast: rgb(255, 255, 255);
	--chartCanvasColorHighContrast: rgb(255, 255, 255);
	--svgTextColorHighContrast: rgb(0, 0, 0);
	--yAxisTickColorHighContrast: rgb(77, 80, 83);
	--yAxisTextColorHighContrast: rgb(0, 0, 0);
	--xAxisTickColorHighContrast: rgb(0, 0, 0);
	--xAxisTextColorHighContrast: rgb(0, 0, 0);
	--rectColorHighContrast: rgb(0, 24, 53);
	--rectStrokeHighContrast: rgba(42, 43, 44, 1);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

/* body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
} */

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
	}
}


/* Barchart Styling */
.svg-container {
	padding: none;
}

.BarChart__container {
  display: flex;
  flex-direction: column;
  border: solid 1px #dddfe2;
  padding: 40px;
}

.checkboxContainer {
	padding: 0.75rem;
    border: 1px solid #c7cbd0;
	background-color: white;
	box-sizing: border-box;
    color: rgb(66, 66, 66);
	width: 300px;
	display: flex;
	flex-direction: row;
	align-items: end;
	margin-left: 570px;
}

.checkboxLabel{
	padding-left: 10px;
	font-size: 16px;
	font-weight: 400;
}

#inputContrast {
	width: 1.25rem;
    height: 1.25rem;
	background: red;
	cursor: pointer;
}

#chart__title {
	font-size: 40px;
	line-height: 50px;
	font-weight: 700;
}

#chartSummary {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.x-axis-label {
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
}

.y-axis-label {
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
}

.x-axis {
	font-size:16px;
	line-height: 20px;
	font-weight: 400;
}

.bar-label {
	font-size:12px;
	line-height: 19px;
	font-weight: 400;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }